.modal-wrapper {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: rgba(0,0,0,0.7);
  animation: fade 0.3s ease-in;

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    min-width: 300px;

    animation: slideDown 0.3s ease-in;

    .modal-header {
      position: relative;
      padding: 10px 30px 10px 15px;
      box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
      margin-bottom: 7px;

      .header-title {
        font-size: 18px;
        font-weight: 600;
        margin: 0;
      }

      .header-close-modal {
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: rotate(45deg) translateY(-50%);


        &::before {
          position: absolute;
          width: 2px;
          height: 24px;
          background: #1C1C1C;
          transform: translate(-50%, -50%);
          content: '';
          top: 50%;
          left: 50%;
        }

        &::after {
          position: absolute;
          width: 24px;
          height: 2px;
          background: #1C1C1C;
          transform: translate(-50%, -50%);
          content: '';
          top: 50%;
          left: 50%;
        }
      }
    }

    .modal-body {
      padding-bottom: 42px;
      .body-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 15px;

        .form-input {
          margin-bottom: 15px;
          width: 100%;
          height: 42px;
          border: none;
          outline: none;
          color: #8A8A8A;

          font-size: 13px;
          font-weight: 400;

          border-bottom: 1px solid #8A8A8A;

        }

        .change-color {
          height: 60px;
          .ratio-input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            margin: 40px 0 0 7px;
          }
          .ratio-input + label {
            position: relative;
            &:not(:last-child) {
              padding: 0 0 0 50px;
              margin-right: 20px;
            }
            cursor: pointer;
          }

          #orange-radio + label:before {
            background: linear-gradient(224.85deg, #FFD387 6%, #FFA26B 95.01%);
          }
          #purple-radio + label:before {
            background: linear-gradient(227.7deg, #A1A3FF 2.22%, #6D63EF 97.93%);
          }
          #red-radio + label:before {
            background: linear-gradient(222.7deg, #FFB382 -6.37%, #F07590 84.84%);
          }

          .ratio-input + label:before {
            content: '';
            position: absolute;
            top: -3px;
            left: 0;
            transform: translateX(-50%);
            width: 50px;
            height: 50px;
            border-radius: 5px;
          }

          .ratio-input:focus + label:before {
            border: 2px solid #6DE381;
            box-sizing: border-box;
          }

        }

        .form-button {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 42px;
          background: linear-gradient(90deg, #6DE381 1.05%, #31D19E 100%);

          border: none;
          cursor: pointer;
          border-radius: 0 0 5px 5px;

          color: #fff;
          font-size: 16px;
          font-weight: 400;
          outline: none;
        }
      }
    }
  }
}

@keyframes fade {
  0% {
    background: rgba(0,0,0,0);
  }

  100% {
    background: rgba(0,0,0,0.7);
  }
}

@keyframes slideDown {
  0% {
    top: 0;
  }

  100% {
    top: 50%;
  }
}