@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  * {
    font-family: 'Open Sans', 'sans-serif';
    color: #1C1C1C;
  }

  padding-top: 42px;

  .orange-background {
    background: linear-gradient(224.85deg, #FFD387 6%, #FFA26B 95.01%);
  }
  .purple-background {
    background: linear-gradient(227.7deg, #A1A3FF 2.22%, #6D63EF 97.93%);
  }
  .red-background {
    background: linear-gradient(222.7deg, #FFB382 -6.37%, #F07590 84.84%);
  }


  .create-task-button {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 42px;
    background: linear-gradient(90deg, #6DE381 1.05%, #31D19E 100%);
    border: none;
    cursor: pointer;

    color: #fff;
    font-size: 16px;
    font-weight: 400;
    outline: none;
  }

  .task {
    position: relative;
    border-radius: 24px;
    padding: 16px;
    width: auto;
    animation: createTask 0.5s linear;

    .task-title {
      list-style: none;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;

      color: #FFFFFF;
      margin: 8px 0 11px;
    }

    .task-date {
      list-style: none;
      font-weight: normal;
      font-size: 11px;
      line-height: 13px;
      /* identical to box height */

      letter-spacing: 3px;
      text-transform: uppercase;

      color: #FCE4E9;

      mix-blend-mode: normal;
    }

      .delete-card {
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 15px;
        background: none;
        border: none;
        transform: rotate(45deg);
        outline: none;


        &::before {
          position: absolute;
          width: 2px;
          height: 24px;
          background: #fff;
          transform: translate(-50%, -50%);
          content: '';
          top: 50%;
          left: 50%;
        }

        &::after {
          position: absolute;
          width: 24px;
          height: 2px;
          background: #fff;
          transform: translate(-50%, -50%);
          content: '';
          top: 50%;
          left: 50%;
        }
      }

    .task-body {
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      /* or 117% */


      color: #FCE4E9;

      mix-blend-mode: normal;
      list-style: none;
    }
  }


}

@keyframes createTask {

  0% {
    opacity: 0;
    width: 0;
  }

  100% {


    width: 90%;
    opacity: 1;
  }
}
